@font-face {
  font-family: "CircularBold";
  src: url(../fonts/CircularStd-Bold.ttf);
}
@font-face {
  font-family: "CircularBook";
  src: url(../fonts/CircularStd-Book.ttf);
}

.text-side {
  font-family: "CircularBold";
}

.song-title {
  font-family: "CircularBook";
}

.bigbox {
  padding-top: 24px;
  padding-bottom: 90px;
}
#logo {
  max-width: 100%;
  height: 44px;
}

.hr-sidebar {
  margin: 8px 24px 0px;
  background-color: #282828;
  /* margin-bottom: 10px; */
}

.scrollbox-sidebar {
  overflow: hidden;
  height: 100%;
}

.scrollbox-sidebar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #101010;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}

.scrollbox-sidebar:hover {
  overflow-y: scroll;
}
